block content
    h1= title

    h2 Login with OAuth worked OK! 

    p Now you can make authenticated API calls like this:
    
    ul#links
        li
            a(href="/getMyAccounts") Get My Accounts
        li
            a(href="/getCurrentUser") Get Current User
        li
            a(href="/createTransactionRequest") Create Transaction Request (make payment)
        li
            a(href="/loadCustomers") Load Customers (admin function)
        li
            a(href="/createEntitlements") Create Entitelments (admin function)  


    p Please see your API Explorer for the full list of API calls available.
