block content
 
    h1 Links 

    p Now you can try authenticated API calls like this:
    
    ul#links
        li
            a(href="/getMyAccounts") Get My Accounts
        li
            a(href="/getMyAccountsJson") Get My Accounts (JSON)
        li
            a(href="/getCurrentUser") Get Current User
        li
            a(href="/createTransactionRequest") Create Transaction Request (make payment)

    p Admin Calls (Requires a filesConfig.json)       

    ul#links
        li
            a(href="/loadCustomers") Load Customers 
        li
            a(href="/createEntitlements") Create Entitelments  


    p Please see your API Explorer for the full list of API calls available.
